<!-- <div class="home">
  <div class="name"><img src="../assets/Images/logo1.jpg" style="width: 50px;height: 50px;">  <b><i>QUICKFIX</i></b></div>
    <div class="list">
      <ul>
        <li><a routerLink="/loginPage">LOGIN</a></li>
        <li><a routerLink="/productPage">SERVICE</a></li>
        <li><a routerLink="/suggestion">SUGGESTIONS</a></li>
        <li><a routerLink="/homePage">HOME</a></li>
      </ul>
    </div>
  </div> -->
  <router-outlet></router-outlet>
<!--  
  <form [formGroup]="registerForm" (submit)="addUser()">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" formControlName="uname">
    </div>

    <div class="form-group">
      <label for="">password</label>
      <input type="text" formControlName="password">
    </div>

    <div class="form-group">
      <label for="">email</label>
      <input type="text" formControlName="email">
    </div>
    <button >submit</button>

</form>
<button (click)="getUserData()">retrieve</button>
<router-outlet></router-outlet>  -->