
ul {
    list-style-type: none;
    margin-left: 800px;
    padding: 0;
    
    overflow: hidden;
    /* background-color: rgba(127, 15, 101, 0.525);  */
    position: absolute;
    
  }
  .name{
    position: absolute;
    margin-left: 20px;
    padding: 15px;
    font-size: 30px;
  }
  ul li {
    float: right;
    align-items: end;
    color: black;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
  }
  
  li a:hover {
    background-color: #9fc5d0;
  }
  .home{
    box-sizing: border-box;
    height: 75px;
    box-shadow:5px 5px 5px 5px rgb(68, 56, 56);
  }